@section TitleContent{ Index }
<div class="element-wrapper">


    <div class="element-box-tp">

        <div style="padding: 60px 70px; border-top: 1px solid rgba(0,0,0,0.05);">
            <h1 style="margin-top: 0px;">
                Welcome to Employee Management System!
            </h1>
            <div style="color: #636363; font-size: 14px;">
                <p>
                    Hi, We are happy to welcome you in our family. We have a lot of cool features available on our system, you can checkout a quick outline of the most popular features below.
                </p>
            </div>
            <div style="border: 2px solid #4B72FA; padding: 40px; margin: 40px 0px;">
                <h4 style="margin-bottom: 20px; margin-top: 0px; font-size: 18px; display: inline-block; border-bottom: 1px dotted #111;">
                    Get started with these features
                </h4>
                <table style="width: 100%;">
                    <tbody>
                        <tr>
                            <td style="padding: 10px 0px; border-bottom: 1px solid rgba(0,0,0,0.05);">
                                <img src="~/Content/img/bigicon7.png" style="width: 70px; height: auto;" />
                            </td>
                            <td style="padding-left: 30px; border-bottom: 1px solid rgba(0,0,0,0.05);">
                                <div style="font-weight: bold; color: #4B72FA; font-size: 16px;">
                                    Add your own employee
                                </div>
                                <div style="font-size: 14px; color: #B8B8B8;">

                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding: 10px 0px; border-bottom: 1px solid rgba(0,0,0,0.05);">
                                <img src="~/Content/img/bigicon1.png" style="width: 70px; height: auto;">

                            </td>
                            <td style="padding-left: 30px; border-bottom: 1px solid rgba(0,0,0,0.05);">
                                <div style="font-weight: bold; color: #4B72FA; font-size: 16px;">
                                    Customise your employee
                                </div>
                                <div style="font-size: 14px; color: #B8B8B8;">

                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding: 10px 0px;">
                                <img alt="" src="~/Content/img/bigicon6.png" style="width: 70px; height: auto;">
                            </td>
                            <td style="padding-left: 30px;">
                                <div style="font-weight: bold; color: #4B72FA; font-size: 16px;">
                                    Sort your employee
                                </div>
                                <div style="font-size: 14px; color: #B8B8B8;">

                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table style="width: 100%; border-top: 1px solid #eee">
                    <tbody>
                        <tr>
                            <td style="font-size: 14px;">
                            </td>
                            <td style="text-align: right; padding-left: 20px;">
                                <a href="@Url.Action("Employees","Employee")" style="padding: 8px 20px; background-color: #4B72FA; color: #fff; font-weight: bolder; font-size: 16px; display: inline-block; margin: 10px 0px; text-decoration: none;">Get Started by clicking here</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>

    </div>
</div>

<script>
    function redirectToLoginPage() {
        window.location.replace("https://localhost:44348/Account/Login");
    }

    // Check if there is a token stored, if not, redirect to login page
    if (!localStorage.getItem("AccessToken")) {
        redirectToLoginPage();
    }

    // Check if there is an access token on the welcome page, redirect to login if not
    var welcomePageToken = localStorage.getItem("AccessToken");
    if (!welcomePageToken) {
        redirectToLoginPage();
    }

    console.log('Token on Welcome Page:', welcomePageToken);
</script>

