USE [master]
GO
/****** Object:  Database [ems]    Script Date: 23/01/2024 2:48:53 pm ******/
CREATE DATABASE [ems]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ems', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\ems.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ems_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\ems_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ems].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ems]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 23/01/2024 2:48:53 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](250) NULL,
	[Position] [nvarchar](250) NULL,
	[Department] [nvarchar](250) NULL,
	[DateofJoining] [datetime] NULL,
	[Salary] [int] NULL,
 CONSTRAINT [PK_Employee] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 23/01/2024 2:48:53 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
	[Token] [nvarchar](max) NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Employee] ON 

INSERT [dbo].[Employee] ([ID], [Name], [Position], [Department], [DateofJoining], [Salary]) VALUES (1, N'Johnly Oroy', N'Software Engineer', N'IT Department', CAST(N'2024-03-01T00:00:00.000' AS DateTime), 50000)
INSERT [dbo].[Employee] ([ID], [Name], [Position], [Department], [DateofJoining], [Salary]) VALUES (2, N'Jay Lactaotao', N'Soc Analyst', N'IT Department', CAST(N'2024-01-01T00:00:00.000' AS DateTime), 15000)
INSERT [dbo].[Employee] ([ID], [Name], [Position], [Department], [DateofJoining], [Salary]) VALUES (17, N'Jan Tan', N'Video Editor', N'Multimedia', CAST(N'2024-01-03T00:00:00.000' AS DateTime), 500000)
SET IDENTITY_INSERT [dbo].[Employee] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([ID], [Username], [Password], [Token]) VALUES (1, N'admin', N'1234', N'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhcGlfa2V5IjoiZW1zIiwiYXBpX3NlY3JldCI6ImVtc3NlY3JldCIsInVzZXJuYW1lIjoiYWRtaW4iLCJwYXNzd29yZCI6IjEyMzQiLCJuYmYiOjE3MDU5ODk0MTIsImV4cCI6MTcwNTk4OTQ3MiwiaWF0IjoxNzA1OTg5NDEyfQ.FNmY147BIceMEo8N4x8Rv7DptPSr0kbHwQzbi2mkpsM')
SET IDENTITY_INSERT [dbo].[User] OFF
GO
USE [master]
GO
